*{  font-family: "Fortnite";
    margin:0px 0px 0px;}

/*////////////////////////////////*/
/*       Fuente de letras         */ 
@font-face{font-family:"Fortnite";
    src: url(./Fortnite.woff);}
/*                                */    
/*////////////////////////////////*/    

.contenedor{
    width: 1340px;
    height:650px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 0.5fr 2fr 1.5fr;
    background-color: #222222;
    color: #ffffff;
    gap: 15px;
}

.contenedor_cabecera{
    margin: 20px 20px 20px 20px;
    text-align: center;
    justify-self: stretch;
    font-size: 30px;
    border-radius: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #222222;

}

.contenedor_fotos{
    margin: 20px 20px 20px 20px;
    text-align: center;
    justify-self: stretch;
    border-radius: 25px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
}

.contenedor_img{
    background-color: aquamarine;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}



.contenedor_boton{
    background-color: #222222;
    border-color: #4CAF50;
    border-radius: 40px; 
    text-align:center;
    justify-self: stretch;
    grid-row: 3;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    transition-duration: 0.4s;
  }
  
.contenedor_boton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;}
  
.contenedor_btn{
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
        border-radius: 10px;
        font-size: 20px;
        font-style: none;
        text-decoration: none;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      
.contenedor_btn:hover{
        background-color: #4CAF50;
        color: white;
      }
  
a{
    text-decoration: none;
    color: #222222;
  }
  
a:hover{
    color: #ffffff;
  }